*~
*.o
*.lo
*.la

Makefile
Makefile.in
.deps
.libs
.dirstamp

/INSTALL
/autom4te.cache
/aclocal.m4
/compile
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/ChangeLog

/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/mv88e6xx_dump
